# Perylune 0.2

requests
sgp4
orbit_predictor
czml3
tle-tools==0.2.3

# The following deps are needed for developers only
pytest

# Poliastro rocks!
#-e git+https://github.com/poliastro/poliastro#egg=poliastro


# Security problem
cryptography>=3.2