# Perylune 0.2

requests
sgp4
orbit_predictor
czml3
tle-tools

# The following deps are needed for developers only
pytest

# Poliastro rocks!
#-e git+https://github.com/poliastro/poliastro#egg=poliastro
